@{
    ViewData["Title"] = "About";
}


	<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper">

    <div class="main-title">
        <p class="custom-font-1">About Us</p>
    </div>

    <!-- BEGIN .single-full-width -->
    <div class="single-full-width">
        <p>The <strong>About Us</strong> page of your shop is vital because it’s where users go when first trying to determine a level of trust.  Since trust is such an important part of selling online, it’s a good idea to give people a fair amount information about yourself and your shop.  Here are a few things you should touch on.</p>

        <div class="clear"></div>
        <!-- END .single-full-width -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>



