@{
    ViewData["Title"] = "About";
}

<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper">

    <!-- BEGIN .main-left-wrapper -->
    <div class="main-left-wrapper">
        <div class="main-title">
            <p class="custom-font-1">News</p>
        </div>
        <div class="blog-list">


            <div class="item">
                <div class="title custom-font-1">
                    <a href="news/6597787-fusce-lobortis-sem-ac-est-porta-ac-ipsum-vulputate.html">Fusce lobortis sem ac est porta ac ipsum vulputate</a>
                </div>
                <div class="title-legend">
                    <a href="news/6597787-fusce-lobortis-sem-ac-est-porta-ac-ipsum-vulputate.html" class="date">Sep 18, 2012</a>


                    <a href="news/6597787-fusce-lobortis-sem-ac-est-porta-ac-ipsum-vulputate.html#comments" class="comments">2</a>


                    <a href="#" class="share">Share this post</a>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum risus blandit enim malesuada vitae aliquet libero volutpat. Integer viverra quam tempus dolor condimentum ut euismod leo feugiat. Maecenas dignissim erat orci. Sed ac diam et enim lobortis porttitor sed in turpis. Pellentesque lobortis, eros in bibendum pretium, urna elit mollis orci, in ultricies sem enim et ipsum. Phasellus felis turpis, tincidunt eget tincidunt quis, venenatis vel dui. Nullam ut rhoncus lacus. Sed leo justo, placerat ac adipiscing eget, adipiscing quis metus. Nullam laoreet sapien sed quam mattis ac consequat nibh ornare. Nam nec nisi tellus, nec semper magna. Cras id orci leo, vel rutrum metus. Fusce lobortis sem ac est porta ac fermentum ipsum vulputate. Nullam sed massa nunc. Vivamus neque nibh, vulputate et hendrerit sed, sollicitudin et erat.</p>
                    <p>
                        <span>
                            <span>Integer hendrerit scelerisque vulputate. Nulla quis diam posuere odio vulputate rutrum. Mauris sagittis ligula ut sapien suscipit congue. Quisque nec eros eu turpis blandit sollicitudin quis ut lorem. Praesent faucibus mauris vestibulum tellus faucibus ultricies vel ac tortor. Sed neque orci, porttitor at tempor quis, cursus id tellus. Curabitur mauris ligula, suscipit et tincidunt gravida, egestas ac erat. Pellentesque rutrum, augue in tempor pellentesque, ipsum lorem porta sapien, ac ullamcorper odio nunc eget turpis. Sed iaculis est diam, et lobortis tortor. Integer at dolor vitae arcu volutpat pulvinar. Aenean pulvinar auctor ante, et posuere ligula scelerisque scelerisque. Duis pulvinar, risus quis tempor lobortis, velit mi mattis felis, non imperdiet leo nunc et justo.</span><br />
                        </span>
                    </p>
                    <p><span><span><span>Sed rhoncus sapien egestas neque porta posuere. Ut tincidunt nibh id lorem imperdiet scelerisque. Donec interdum, ante et auctor tincidunt, felis felis adipiscing nulla, a adipiscing diam neque et quam. Mauris lectus lectus, consequat eget feugiat id, venenatis at lectus. Mauris placerat luctus nulla ac fringilla.</span></span></span></p>

                    <p><a href="news/6597787-fusce-lobortis-sem-ac-est-porta-ac-ipsum-vulputate.html" class="more-link">Read more</a></p>
                </div>
            </div>

            <div class="item">
                <div class="title custom-font-1">
                    <a href="news/6580693-lorem-ipsum-dolorsitas-durum-amet.html">Lorem ipsum dolorsitas durum amet</a>
                </div>
                <div class="title-legend">
                    <a href="news/6580693-lorem-ipsum-dolorsitas-durum-amet.html" class="date">Sep 17, 2012</a>


                    <a href="news/6580693-lorem-ipsum-dolorsitas-durum-amet.html#comments" class="comments">1</a>


                    <a href="#" class="share">Share this post</a>
                </div>
                <div class="text">
                    <p>&nbsp;</p>
                    <p>Quisque pharetra libero at orci lacinia elementum ultricies nisi imperdiet. Vestibulum nisl purus, gravida non tincidunt nec, bibendum quis ante. Donec porta eros nec elit semper quis blandit ipsum placerat. Praesent sagittis aliquet malesuada. Pellentesque orci mi, semper nec vulputate eget, euismod vel neque. Aliquam scelerisque tempus gravida.</p>
                    <p>
                        Nam velit nulla, egestas sit amet luctus eu, aliquam vel enim. Proin tortor est, ornare sit amet fringilla id, lacinia a velit. Aliquam erat volutpat.<br />
                    </p>
                    <p>
                        Etiam laoreet malesuada consectetur. In venenatis consectetur lectus, nec accumsan eros fringilla vestibulum. Aenean mi arcu, pulvinar ultrices feugiat eget, tincidunt euismod massa. Donec hendrerit elementum augue, id hendrerit dui imperdiet sit amet.<br />
                    </p>
                    <h3>
                        Custom title heading<br />
                    </h3>
                    <p>Etiam laoreet malesuada consectetur. In venenatis consectetur lectus, nec accumsan eros fringilla vestibulum. Aenean mi arcu, pulvinar ultrices feugiat eget, tincidunt euismod massa.</p>
                    <p>
                        Donec sit amet mauris non velit suscipit condimentum sed sit amet diam. Fusce non velit quis ante rutrum ornare. Ut ac erat nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et venenatis.<br />
                    </p>
                    <p>Etiam laoreet malesuada consectetur. In venenatis consectetur lectus, nec accumsan eros fringilla vestibulum. Aenean mi arcu, pulvinar ultrices feugiat eget, tincidunt euismod massa. Donec hendrerit elementum augue, id hendrerit dui imperdiet sit amet. Morbi imperdiet elementum enim, quis laoreet metus molestie at. Etiam velit urna, imperdiet non pretium posuere, tristique at erat.</p>

                    <p><a href="news/6580693-lorem-ipsum-dolorsitas-durum-amet.html" class="more-link">Read more</a></p>
                </div>
            </div>

            <div class="item">
                <div class="title custom-font-1">
                    <a href="news/6432504-aliquam-feugiat-imperdiet-orcinon-mattis.html">Aliquam feugiat imperdiet orcinon mattis</a>
                </div>
                <div class="title-legend">
                    <a href="news/6432504-aliquam-feugiat-imperdiet-orcinon-mattis.html" class="date">Aug 16, 2012</a>


                    <a href="news/6432504-aliquam-feugiat-imperdiet-orcinon-mattis.html#comments" class="comments">1</a>


                    <a href="#" class="share">Share this post</a>
                </div>
                <div class="text">
                    <div>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum risus blandit enim malesuada vitae aliquet libero volutpat. Integer viverra quam tempus dolor condimentum ut euismod leo feugiat. Maecenas dignissim erat orci. Sed ac diam et enim lobortis porttitor sed in turpis. Pellentesque lobortis, eros in bibendum pretium, urna elit mollis orci, in ultricies sem enim et ipsum. Phasellus felis turpis, tincidunt eget tincidunt quis, venenatis vel dui. Nullam ut rhoncus lacus. Sed leo justo, placerat ac adipiscing eget, adipiscing quis metus. Nullam laoreet sapien sed quam mattis ac consequat nibh ornare. Nam nec nisi tellus, nec semper magna. Cras id orci leo, vel rutrum metus. Fusce lobortis sem ac est porta ac fermentum ipsum vulputate. Nullam sed massa nunc. Vivamus neque nibh, vulputate et hendrerit sed, sollicitudin et erat.</span></p>
                        <p>
                            <span>
                                <span>Integer hendrerit scelerisque vulputate. Nulla quis diam posuere odio vulputate rutrum. Mauris sagittis ligula ut sapien suscipit congue. Quisque nec eros eu turpis blandit sollicitudin quis ut lorem. Praesent faucibus mauris vestibulum tellus faucibus ultricies vel ac tortor. Sed neque orci, porttitor at tempor quis, cursus id tellus. Curabitur mauris ligula, suscipit et tincidunt gravida, egestas ac erat. Pellentesque rutrum, augue in tempor pellentesque, ipsum lorem porta sapien, ac ullamcorper odio nunc eget turpis. Sed iaculis est diam, et lobortis tortor. Integer at dolor vitae arcu volutpat pulvinar. Aenean pulvinar auctor ante, et posuere ligula scelerisque scelerisque. Duis pulvinar, risus quis tempor lobortis, velit mi mattis felis, non imperdiet leo nunc et justo.</span><br />
                            </span>
                        </p>
                        <p><span><span><span>Sed rhoncus sapien egestas neque porta posuere. Ut tincidunt nibh id lorem imperdiet scelerisque. Donec interdum, ante et auctor tincidunt, felis felis adipiscing nulla, a adipiscing diam neque et quam. Mauris lectus lectus, consequat eget feugiat id, venenatis at lectus. Mauris placerat luctus nulla ac fringilla.</span></span></span></p>
                    </div>

                    <p><a href="news/6432504-aliquam-feugiat-imperdiet-orcinon-mattis.html" class="more-link">Read more</a></p>
                </div>
            </div>

        </div>


        <!-- END .main-left-wrapper -->
    </div>

    <!-- BEGIN .main-sidebar-wrapper -->
    <div class="main-sidebar-wrapper">

        <!-- BEGIN .shop-by-category -->
        <div class="shop-by-category sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Shop by category</p>
            </div>
            <form action="#">
                <div class="category">
                    <select class="navigationSelector">
                        <option value="">select category</option>

                        <option value="/collections/best-sellers">Best Sellers</option>

                        <option value="/collections/frontpage">Frontpage</option>

                    </select>
                </div>
            </form>
            <!-- END .shop-by-category -->
        </div>




        <!-- BEGIN .post-tags -->
        <div class="post-tags sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Tags</p>
            </div>

            <a href="news/tagged/amet.html" class="s-tag"><span>amet</span></a>

            <a href="news/tagged/ipsum.html" class="s-tag"><span>ipsum</span></a>

            <a href="news/tagged/lorem.html" class="s-tag"><span>lorem</span></a>

            <a href="news/tagged/mauris.html" class="s-tag"><span>mauris</span></a>

            <a href="news/tagged/nulla.html" class="s-tag"><span>nulla</span></a>

            <div class="clear"></div>
            <!-- END .post-tags -->
        </div>










        <!-- BEGIN .sidebar-best-sellers -->
        <div class="sidebar-best-sellers sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Frontpage</p>
            </div>
            <div class="items">

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/indoor-couch-set-with-coffe-table.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/indoor-couch-set-with-coffe-table.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_933395_luxury_home_living_room_interior_s_compacta836.jpg?v=1345108567" alt="Couch set with coffe table" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/indoor-couch-set-with-coffe-table.html" class="custom-font-1">Couch set with coffe table</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$250.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/indoor-couch-set-with-coffe-table.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/large-black-wood-bed.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/large-black-wood-bed.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_862416_contemporary_bedroom_s_compact73e8.jpg?v=1345108235" alt="Large black-wood bed" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/large-black-wood-bed.html" class="custom-font-1">Large black-wood bed</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$0.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/large-black-wood-bed.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/large-soft-bed-with-chest.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/large-soft-bed-with-chest.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune-663568-large-bedroom-interior-m_compact19aa.jpg?v=1345108083" alt="Large soft bed with chest" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/large-soft-bed-with-chest.html" class="custom-font-1">Large soft bed with chest</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$350.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/large-soft-bed-with-chest.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <!-- END .sidebar-best-sellers -->
        </div>



        <!-- END .main-sidebar-wrapper -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>


