@*@model List<ShoppingCore.Models.Tbl_Product>*@
@{
    ViewData["Title"] = "Collections";
}


<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper" style="padding-bottom: 250px;">

    <!-- BEGIN .catalog -->
    <div class="catalog" ng-app="myapp" ng-controller="lazycontroller">
        <div class="main-title">
            <p class="custom-font-1">Products</p>
        </div>

        <form class="navigation">
            <div class="category-selector-wrapper">
                <label>Browse by collection:</label>
                <div class="category">
                    <select class="navigationSelector111" name="cat" ng-options="cat.name for cat in Cats"
                            ng-change="catSelect()" ng-model="catselected">
                        <option ng-model="catselected" value="0">--Select Category--</option>
                    </select>
                </div>
            </div>

            <div class="category-selector-wrapper" style="margin-left: 11%;">
                <label>Subcategory:</label>
                <div class="category">
                    <select class="navigationSelector111" name="subcat" ng-options="subcat.name for subcat in subCats" disabled
                            ng-change="subcatSelect()" ng-model="subcatselected">
                        <option ng-model="subcatselected" value="0">--Select Subcategory--</option>
                    </select>
                </div>
            </div>

            <label class="total">{{detailslist.length}} items total</label>
            <br />
            <div class="items-wrapper">
                <div class="lightbox" id="lightbox"></div>
                <div class="items">

                    <span ng-show="Isloading" class="loading">
                        <img style="width: 300px;filter: blur(5px);" src="~/Images/loading1.gif" />
                    </span>

                    <div class="item-block-1 __collection-item" ng-repeat="prod in detailslist">
                        <div class="image-wrapper-3">
                            <div class="image">
                                <div class="image-overlay-1 trans-1">
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0)" ng-click="quickshop(prod.productId)" class=" button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a href="/Home/ProductDetails?id={{prod.productId}}" title="{{prod.productName}}">
                                    <img ng-src="{{path}}{{prod.productImage}}" asp-append-version="true" alt="Product Image" style="position:absolute;display:block;width:100%;height:100%" />
                                </a>
                            </div>
                        </div>
                        <h3><a href="/Home/ProductDetails?id={{prod.productId}}" class="custom-font-1">{{prod.productName}}</a></h3>
                        <p>
                            <i class="custom-font-1"></i>
                            <b class="custom-font-1"> <span class='money'>{{prod.price}}</span></b>
                        </p>
                        <div class="quick-shop-trigger" id="quickshop">
                        </div>
                    </div>
                    <div class="main-title" ng-show="IsMore">
                        <a style="font-size: large;margin-left:48%;float:none;color: #eeeeee;" href="javascript:void(0)" ng-click="Nextpage()" class="view">View more items</a>
                    </div>
                </div>

            </div>


        </form>





        <div class="clear"></div>



        <div class="clear"></div>
        <!-- END .catalog -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>

   