@{
    ViewData["Title"] = "Contact";
}


	<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper">

    <div class="main-title">
        <p class="custom-font-1">Contact us</p>
    </div>

    <!-- BEGIN .single-full-width -->
    <div class="single-full-width">
        <div class="contact-form">
            <form method="post" action="https://callisto-dark.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                <input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />


                <p>
                    <label>Your name:</label>
                    <input type="text" class="input-text-1" id="name" name="contact[name]" />
                </p>


                <p>
                    <label>Your e-mail:</label>
                    <input class="input-text-1" type="email" id="email" name="contact[email]" />
                </p>




                <p>
                    <label>Your message:</label>
                    <textarea class="textarea-1" id="message" name="contact[body]"></textarea>
                </p>

                <p class="submit">
                    <label></label>
                    <a href="#" class="button-1 custom-font-1 trans-1 form-submit-btn"><span>Send message</span></a>
                </p>
            </form>
            <div class="text">
                <p>&nbsp;<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span></p>

            </div>
        </div>
        <div class="clear"></div>
        <!-- END .single-full-width -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>

