@{
    ViewData["Title"] = "About";
}




<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper">

    <!-- BEGIN .main-left-wrapper -->
    <div class="main-left-wrapper">
        <!-- BEGIN .post-wrapper -->
        <div class="post-wrapper">
            <h2 class="post-title custom-font-1">Features of Callisto responsive Shopify theme</h2>
            <div>
                <p style="text-align: left;">Callisto is a great minimalistic yet elegant and sophisticated Shopify theme. It’s fast thanks to it’s hand-crafted modern HTML code and is easy to modify and customize if necessary. Featuring pixel-perfect design you can showcase and sell your products in a best way possible. Thanks to automatic image resizing your products will look great no matter what size the photo.</p>
                <p>Also with painless product management, social media sharing options, blog integration and fast and easy contact form for your customers.&nbsp; Callisto comes with two different styles -&nbsp;<b>light</b>&nbsp;and&nbsp;<b>dark</b>.</p>
                <h4></h4>
                <h4>Responsive layout</h4>
                <p>
                    Callisto will look great and fully usable on tablets and smartphones such as iPad and iPhone. You can try to re-size your browser windows to see for yourself!<br />
                </p>
                <h4>Quick-shop</h4>
                <p>Using quick-shop is fast and effective way to shop and not leave page you’re browsing. It opens lighbox-style popup windows with all the item information and purchase button.</p>
                <h4>Custom logos</h4>
                <p>Easily add your custom logo image the header of the page through setting panel or you can use rendered font instead. Optimal logo size is 290x66 px.</p>
                <h4>Product management</h4>
                <p>Add products and create dropdown menus. Your product pictures will be automatically resized and centered to look their best. Also you can add tags to products and link them to homepage slider. Your products will be visible in homepage and also in blog sidebar as “Recently added” and “Best sellers”.</p>
                <h4>Color selection</h4>
                <p>With Callisto we provide two different styles - light and dark. Alternatively, you can edit and customize all colors through settings panel.</p>
                <h4>Social</h4>
                <p>Social sharing options with Twitter, Facebook and more.</p>
                <h4>Contact form &amp; newsletters</h4>
                <p>Your client will be able to send you quick e-mail with built-in contact form. Also clients will be able to subscribe to your newsletter, so you will keep in touch with your customers.</p>
                <h4>User accounts and checkout</h4>
                <p>Fully styled user accounts page and checkout steps for seamless theme integration. Easily manage your shipping addresses and purchased items. One-style shopping from start to finish, no default styles that take you out from Callisto theme experience.</p>
                <h4>Support</h4>
                <p>As always, if you have any problems or questions regarding our themes, you can write to our support at&nbsp;<a href="file:///C:/Users/Kaspars/Dropbox/Kārlis Ieviņš/soulage-html/features.html#"><b>support@planetshine.net</b></a>&nbsp;We will try to answer as soon as humanly possible, we promise!</p>
            </div>

            <!-- END .post-wrapper -->
        </div>

        <!-- END .main-left-wrapper -->
    </div>

    <!-- BEGIN .main-sidebar-wrapper -->
    <div class="main-sidebar-wrapper">

        <!-- BEGIN .shop-by-category -->
        <div class="shop-by-category sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Shop by category</p>
            </div>
            <form action="#">
                <div class="category">
                    <select class="navigationSelector">
                        <option value="">select category</option>

                        <option value="/collections/best-sellers">Best Sellers</option>

                        <option value="/collections/frontpage">Frontpage</option>

                    </select>
                </div>
            </form>
            <!-- END .shop-by-category -->
        </div>




        <!-- BEGIN .post-tags -->
        <div class="post-tags sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Tags</p>
            </div>

            <div class="clear"></div>
            <!-- END .post-tags -->
        </div>










        <!-- BEGIN .sidebar-best-sellers -->
        <div class="sidebar-best-sellers sidebar-item">
            <div class="main-title">
                <p class="custom-font-1">Frontpage</p>
            </div>
            <div class="items">

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/indoor-couch-set-with-coffe-table.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/indoor-couch-set-with-coffe-table.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_933395_luxury_home_living_room_interior_s_compacta836.jpg?v=1345108567" alt="Couch set with coffe table" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/indoor-couch-set-with-coffe-table.html" class="custom-font-1">Couch set with coffe table</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$250.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/indoor-couch-set-with-coffe-table.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/large-black-wood-bed.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/large-black-wood-bed.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_862416_contemporary_bedroom_s_compact73e8.jpg?v=1345108235" alt="Large black-wood bed" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/large-black-wood-bed.html" class="custom-font-1">Large black-wood bed</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$0.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/large-black-wood-bed.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="item best-seller-item">

                    <div class="image-wrapper-1">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="../products/large-soft-bed-with-chest.html" class="button-2 trans-1"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/large-soft-bed-with-chest.html"><img class="product-image-resizable-94x94" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune-663568-large-bedroom-interior-m_compact19aa.jpg?v=1345108083" alt="Large soft bed with chest" /></a>
                        </div>
                    </div>
                    <div class="text">

                        <h3><a href="../products/large-soft-bed-with-chest.html" class="custom-font-1">Large soft bed with chest</a></h3>


                        <p><b class="custom-font-1"><span class='money'>$350.00</span></b></p>
                        <p class="more-link-wrapper"><a href="../products/large-soft-bed-with-chest.html" class="more-link">Details</a></p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <!-- END .sidebar-best-sellers -->
        </div>



        <!-- END .main-sidebar-wrapper -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>


