@{
    ViewData["Title"] = "About";
}

<style>
    .contact-form form {
    margin: 0 45px 0 0;
    text-align: center;
}
</style>
<div class="main-content-wrapper">

    <!-- BEGIN .catalog -->
    <div class="catalog">
        <div class="items-wrapper">
            <div class="items">



                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="../products/indoor-couch-set-with-coffe-table.html" title="Couch set with coffe table">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_933395_luxury_home_living_room_interior_s_largea836.jpg?v=1345108567" alt="Couch set with coffe table" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="../products/indoor-couch-set-with-coffe-table.html" class="custom-font-1">Couch set with coffe table</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$250.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100173930">
                        <div class="content">
                            <div class="single-full-width">
                                <div class="contact-form">
                                    <form method="post" action="https://callisto-dark.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                        <input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />


                                        <p>
                                            <label>Your name:</label>
                                            <input type="text" class="input-text-1" id="name" name="contact[name]" />
                                        </p>


                                        <p>
                                            <label>Your e-mail:</label>
                                            <input class="input-text-1" type="email" id="email" name="contact[email]" />
                                        </p>




                                        <p>
                                            <label>Your message:</label>
                                            <textarea class="textarea-1" id="message" name="contact[body]"></textarea>
                                        </p>

                                        <p class="submit">
                                            <label></label>
                                            <a href="#" class="button-1 custom-font-1 trans-1 form-submit-btn"><span>Send message</span></a>
                                        </p>
                                    </form>
                                    
                                </div>
                                <div class="clear"></div>
                                <!-- END .single-full-width -->
                            </div>
                            <div class="clear"></div>

                            <div class="clear"></div>

                            <div class="clear"></div>

                            <a href="#" class="close"></a>

                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

