@{
    ViewData["Title"] = "About";
}

<!-- BEGIN .main-content-wrapper -->
<div class="main-content-wrapper">

    <!-- BEGIN .catalog -->
    <div class="catalog">
        <div class="main-title">
            <p class="custom-font-1">Frontpage</p>
        </div>

        <form action="#" class="navigation">
            <div class="category-selector-wrapper">
                <label>Browse by collection:</label>
                <div class="category">
                    <select class="navigationSelector">
                        <option value="/collections/all">All</option>

                        <option value="/collections/best-sellers">Best Sellers</option>

                        <option value="/collections/frontpage" selected="selected">Frontpage</option>

                    </select>
                </div>
            </div>



            <div class="category-selector-wrapper">
                <label>Subcategory:</label>
                <div class="category">
                    <select class="navigationSelector">

                        <option value="/collections/frontpage">All</option>




                        <option value="/collections/frontpage/patio">patio</option>



                        <option value="/collections/frontpage/set">set</option>



                        <option value="/collections/frontpage/sofa">sofa</option>



                        <option value="/collections/frontpage/straws">straws</option>



                        <option value="/collections/frontpage/weaved">weaved</option>


                    </select>
                </div>
            </div>

            <label class="total">8 items total</label>
        </form>



        <div class="items-wrapper">
            <div class="items">



                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/indoor-couch-set-with-coffe-table.html" title="Couch set with coffe table">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_933395_luxury_home_living_room_interior_s_largea836.jpg?v=1345108567" alt="Couch set with coffe table" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/indoor-couch-set-with-coffe-table.html" class="custom-font-1">Couch set with coffe table</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$250.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100173930">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/indoor-couch-set-with-coffe-table.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/indoor-couch-set-with-coffe-table.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_933395_luxury_home_living_room_interior_s_large.jpg?v=1345108567" data-class="product-image-resizable-344x344" data-alt="Couch set with coffe table"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100173930">
                                    <h2 class="custom-font-1"><a href="../products/indoor-couch-set-with-coffe-table.html">Couch set with coffe table</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100173930').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100173930">

                                        <input type="hidden" name="id" value="233159746" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at est egestas et dignissim orci laoreet. Vestibulum tincidunt diam at arcu ullamcorper sagittis. Phasellus arcu mi, tempor eget consectetur ut, molestie eget erat.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/large-black-wood-bed.html" title="Large black-wood bed">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_862416_contemporary_bedroom_s_large73e8.jpg?v=1345108235" alt="Large black-wood bed" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/large-black-wood-bed.html" class="custom-font-1">Large black-wood bed</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$0.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100173494">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/large-black-wood-bed.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/large-black-wood-bed.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_862416_contemporary_bedroom_s_large.jpg?v=1345108235" data-class="product-image-resizable-344x344" data-alt="Large black-wood bed"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100173494">
                                    <h2 class="custom-font-1"><a href="../products/large-black-wood-bed.html">Large black-wood bed</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100173494').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100173494">

                                        <input type="hidden" name="id" value="233159142" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Fusce sed nulla metus, egestas mollis turpis. Aliquam vel augue sed sem auctor gravida. Maecenas non lectus turpis, ut rutrum ipsum. Sed ante lectus, mattis eu feugiat a, condimentum non purus.


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/large-soft-bed-with-chest.html" title="Large soft bed with chest">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune-663568-large-bedroom-interior-m_large19aa.jpg?v=1345108083" alt="Large soft bed with chest" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/large-soft-bed-with-chest.html" class="custom-font-1">Large soft bed with chest</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$350.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100173310">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/large-soft-bed-with-chest.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/large-soft-bed-with-chest.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune-663568-large-bedroom-interior-m_large.jpg?v=1345108083" data-class="product-image-resizable-344x344" data-alt="Large soft bed with chest"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100173310">
                                    <h2 class="custom-font-1"><a href="../products/large-soft-bed-with-chest.html">Large soft bed with chest</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100173310').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100173310">

                                        <input type="hidden" name="id" value="233158856" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Vivamus non erat et est sodales pretium eu quis orci. Nunc et augue a sapien pharetra molestie. Vivamus a dui sed felis scelerisque cursus eu non ipsum. In at nibh est, non laoreet dolor.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/office-table-with-leather-chair.html" title="Office table with leather chair">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_1332877_modern_office_s_large31ed.jpg?v=1345109483" alt="Office table with leather chair" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/office-table-with-leather-chair.html" class="custom-font-1">Office table with leather chair</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$350.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100175062">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/office-table-with-leather-chair.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/office-table-with-leather-chair.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_1332877_modern_office_s_large.jpg?v=1345109483" data-class="product-image-resizable-344x344" data-alt="Office table with leather chair"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100175062">
                                    <h2 class="custom-font-1"><a href="../products/office-table-with-leather-chair.html">Office table with leather chair</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100175062').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100175062">

                                        <input type="hidden" name="id" value="233161584" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Aliquam ornare tincidunt nulla vel mattis. In sed placerat nunc. Duis pulvinar, nisl non tempus accumsan, sem dolor bibendum metus, ac volutpat arcu elit non nulla. Donec rhoncus velit nec leo sollicitudin ullamcorper ut et urna. Nullam non eros at...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/outdoor-dinner-table.html" title="Outdoor dinner table">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_2540048_modern_backyard_with_pool_s_large8a96.jpg?v=1345109251" alt="Outdoor dinner table" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/outdoor-dinner-table.html" class="custom-font-1">Outdoor dinner table</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$49.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100174902">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/outdoor-dinner-table.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/outdoor-dinner-table.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_2540048_modern_backyard_with_pool_s_large.jpg?v=1345109251" data-class="product-image-resizable-344x344" data-alt="Outdoor dinner table"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100174902">
                                    <h2 class="custom-font-1"><a href="../products/outdoor-dinner-table.html">Outdoor dinner table</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100174902').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100174902">

                                        <input type="hidden" name="id" value="233161272" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Quisque non tristique lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris porta dapibus leo quis facilisis. Integer ac nulla in velit pulvinar condimentum laoreet ac purus.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/striped-oak-wood-bed.html" title="Striped oak wood bed">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_2620841_modern_bedroom_s_large4dfb.jpg?v=1345109152" alt="Striped oak wood bed" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/striped-oak-wood-bed.html" class="custom-font-1">Striped oak wood bed</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$450.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100174820">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/striped-oak-wood-bed.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/striped-oak-wood-bed.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_2620841_modern_bedroom_s_large.jpg?v=1345109152" data-class="product-image-resizable-344x344" data-alt="Striped oak wood bed"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100174820">
                                    <h2 class="custom-font-1"><a href="../products/striped-oak-wood-bed.html">Striped oak wood bed</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100174820').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100174820">

                                        <input type="hidden" name="id" value="233161142" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Fusce sed nulla metus, egestas mollis turpis. Aliquam vel augue sed sem auctor gravida. Maecenas non lectus turpis, ut rutrum ipsum. Sed ante lectus, mattis eu feugiat a, condimentum non purus. Donec iaculis vestibulum sollicitudin.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/weaved-chairs-with-coffe-table.html" title="Weaved chairs with coffe table">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_942333_modern_living_room_s_large063e.jpg?v=1345108675" alt="Weaved chairs with coffe table" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/weaved-chairs-with-coffe-table.html" class="custom-font-1">Weaved chairs with coffe table</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$150.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100174182">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/weaved-chairs-with-coffe-table.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/weaved-chairs-with-coffe-table.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_942333_modern_living_room_s_large.jpg?v=1345108675" data-class="product-image-resizable-344x344" data-alt="Weaved chairs with coffe table"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100174182">
                                    <h2 class="custom-font-1"><a href="../products/weaved-chairs-with-coffe-table.html">Weaved chairs with coffe table</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100174182').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100174182">

                                        <input type="hidden" name="id" value="233160040" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Vestibulum at lacus id turpis malesuada varius. Donec ultricies mauris vel nisi porta dictum. Cras pretium tortor vitae massa viverra pulvinar. Sed adipiscing, metus eu egestas imperdiet, enim ipsum faucibus nibh, at auctor eros magna luctus leo.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>





                <div class="item-block-1 __collection-item">

                    <div class="image-wrapper-3">
                        <div class="image">
                            <div class="image-overlay-1 trans-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="frontpage/products/weaved-patio-couch-set.html" title="Weaved patio couch set">
                                <img class="product-image-resizable" src="../../cdn.shopify.com/s/files/1/0176/2758/products/photodune_201018_patio_of_a_villa_m_large447a.jpg?v=1345106389" alt="Weaved patio couch set" />
                            </a>
                        </div>
                    </div>
                    <h3><a href="frontpage/products/weaved-patio-couch-set.html" class="custom-font-1">Weaved patio couch set</a></h3>
                    <p>
                        <i class="custom-font-1"></i>
                        <b class="custom-font-1"> <span class='money'>$250.00</span></b>

                    </p>
                    <!-- BEGIN .quick-shop -->
                    <div class="quick-shop-content" id="quick-shop-100171140">
                        <div class="content">
                            <div class="image-resize-container">
                                <div class="image-wrapper-1">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="../products/weaved-patio-couch-set.html" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="../products/weaved-patio-couch-set.html"><span class="placeholder-span" data-src="//cdn.shopify.com/s/files/1/0176/2758/products/photodune_201018_patio_of_a_villa_m_large.jpg?v=1345106389" data-class="product-image-resizable-344x344" data-alt="Weaved patio couch set"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <div id="product-100171140">
                                    <h2 class="custom-font-1"><a href="../products/weaved-patio-couch-set.html">Weaved patio couch set</a></h2>
                                    <div class="price custom-font-1">
                                        <p class="current-price"></p>
                                        <p><s class="old-price"></s></p>

                                        <a href="#" onclick="document.getElementById('product-actions-100171140').submit(); return false;" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>
                                        <div class="clear"></div>
                                    </div>


                                    <form action="https://callisto-dark.myshopify.com/cart/add" method="post" class="variants" id="product-actions-100171140">

                                        <input type="hidden" name="id" value="233156206" />

                                    </form>

                                    <div class="description">
                                        <div class="items">
                                            <div class="item">
                                                Aliquam laoreet semper massa eu sodales. Nullam sed purus bibendum erat tincidunt hendrerit in nec purus. Duis sit amet nisl enim. Sed porttitor, est et sollicitudin adipiscing, diam lectus ullamcorper mi, eget fringilla magna mauris hendrerit est.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="#" class="close"></a>
                        </div>
                        <!-- END .quick-shop -->
                    </div>
                </div>



            </div>
        </div>


        <div class="clear"></div>



        <div class="clear"></div>
        <!-- END .catalog -->
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <!-- END .main-content-wrapper -->
</div>


