@model ShoppingCore.Models.ProductDetail

<ul>
    <li class="cart"><a asp-controller="Shopping" asp-action="Cart">Your cart: <b>@Model.count items</b> @*(<span class='money'>$0.00</span> in total)*@</a></li>
</ul>


