@model IEnumerable<ShoppingCore.Models.Tbl_Category>
@{
    ViewData["Title"] = "AllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!--**********************************
    Content body start
***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Data Table</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>CategoryID</th>
                                        <th>Category</th>
                                        <th>Is Active</th>
                                        <th>Is Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.CategoryId</td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            @if (item.IsActive == true)
                                            {<span>YES</span>}
                                            else
                                            { <span>NO</span>}
                                    </td>
                                    <td>
                                        @if (item.IsDelete == true)
                                        {<span>YES</span>}
                                        else
                                        { <span>NO</span>}
                                    </td>
                                    </tr>
                                    }
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
